* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 101px;
  padding-right: 101px;
  justify-content: center;
}

.logo img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 300px;
}

h2.txt_adminLogin {
  text-align: center;
  margin-bottom: 20px;
  color: #f5791c;
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
  padding: 12px 40px 12px 50px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
  outline-color: #f5791c;
}

.form-group .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-70%);
  height: 30px;
}

button[type="submit"] {
  background-color: #f5791c;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #e46825;
  transform: translateY(-1px); /* Moves the button up */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
