/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.sidebar {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.sidebar-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5791c;
}

.logo {
    display: block;
    height: 80px;
    margin: 0 auto;
}

.navTitle {
    color: #f5791c;
    margin-top: 5px;
    font-size: 1.2rem;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a.active {
    background-color: #fe7106;
}

.nav-links a:hover {
    background-color: #fe7106;
}

/* Content Area Styles */
.content-container {
    margin: 20px 40px 20px 240px;
    position: relative;
    overflow: hidden;
}

.content {
    padding: 40px;
    border-radius: 20px;
    background-color: #fdc873; /* Set background color inside the border */
}

/* Main body */
.main_body {
    flex: 1;
    padding-top: 20px;
}

.main_body p {
    color: #000;
    margin-bottom: 20px;
}

.adsSection {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 85px;
}

.ad_temp {
    height: 200px;
    width: auto;
}

.header h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 15px 30px;
    background-color: #f5791c;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #fe7106;
    transform: scale(1.1);
}
