* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

#logo {
  height: 50px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
  color: #f5791c;
}

#login-btn {
  width: 110px;
  height: 40px;
  background-color: #fff;
  color: #da6811;
  border-color: #d55f1f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#login-btn:hover {
  background-color: #da6811;
  color: #fff;
}

#container {
  margin-top: 50px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}
.slogan {
  text-align: center;
  margin: 10px;
  font-size: 15px;
}

.url-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-field {
  padding: 10px;
  width: 60%;
  border: 2px solid #f5791c;
  border-radius: 5px;
  margin-right: 10px;
}

.url-field:focus {
  outline: none;
}

.download-btn {
  width: 100px;
  height: 40px;
  background-color: #f5791c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #d55f1f;
}

#supportTxt {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.support-platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 70px 40px 70px;
  flex: 1;
}

.platforms-container {
  display: flex;
  font-size: small;
  font-weight:  50;
}

.platforms {
  flex: 1;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 15px;
  background-color: rgb(228,244,228);
  border-radius: 15px;
}
#youtube-detail {
  margin-left: 50px;
  margin-right: 20px;
  padding: 11px;
}
#insta-detail {
  margin-right: 20px;
  padding: 11px;
}
#tiktok-detail {
  margin-right: 50px;
  padding: 11px;
}

.logoimg {
  height: 75px;
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image horizontally */
}

#youtube-txt {
  text-align: center;
  padding: 5px 20px 10px 20px;
}
#insta-txt {
  text-align: center;
  padding: 5px 20px 10px 20px;
}
#tiktok-txt {
  text-align: center;
  padding: 5px 20px 10px 20px;
}

.features {
  display: flex;
  margin: 40px 150px 40px 150px;
}
.intro {
  margin-right: 15px;
  padding: 20px 30px 0px 20px;
  border-right: 1px solid black;
  width: 80%;
}
.ul-features {
  margin-left: 15px;
  padding: 20px;
}
.list li {
  padding-bottom: 8px;
}
.f-heading {
  padding-bottom: 12px;
}

.pros {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.pros-section {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: small;
}
.pros_img {
  height: 125px;

}
#pros1 {
  margin-left: 200px;
  margin-right: 50px;
}
#pros2 {

}
#pros3 {
  margin-left: 50px;
  margin-right: 200px;
}

.pros-heading {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5791c;
    padding: 20px 0;
    color: #fff;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 10px;
  }


